<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            Bostorek
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link pl-lg-0" href="index.html" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html" routerLink="/about" routerLinkActive="active"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="categories.html" routerLink="/category" routerLinkActive="active">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html" routerLink="/blog" routerLinkActive="active"> Blog </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html" routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </li>
          </ul>
          <form class="search_form">
            <input type="text" class="form-control" placeholder="Search here...">
            <button class="" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </nav>
    </div>
  </header>
